<!DOCTYPE html>
@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}
@model Models.AddTodoViewModel
<html>
<head>
    <title>Add TodoItem</title>
</head>
<body>
<div class="row">
<div class="col-md-4">
    <h1 style="margin-top: 1em">Add</h1>
    <form asp-action="Add" method="post">
        Name: <input asp-for="Text" class="form-control"/> <span asp-validation-for="Text"></span> <br/>
        Date due: <input asp-for="DateDue" class="form-control"/> <span asp-validation-for="DateDue"></span> <br/>
        <a asp-controller="Todo" asp-action="Labels">Add labels</a> <br/><br />

        <input type="submit"/>
    </form>
</div>
</div>
</body>
</html>