@{
    ViewData["Title"] = "Completed";
    Layout = "_Layout";
}
@model Models.CombinedModel
<!DOCTYPE html>

<html>
<head>
    <title>Completed Todos</title>
</head>
<body>
        @Html.Partial("TodoView", Model)
</body>
</html>

