@using Zadatak_1
@using Zadatak_2.Models
@model Zadatak_2.Models.CombinedModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Active tasks</title>
</head>
<body>
    <h1 style="margin-top: 1em">Todo</h1>
    <a asp-controller="Todo" asp-action="Add" style="margin-right: 5em; margin-top: 10em;"><b>Add new todo</b></a>
    <a asp-controller="Todo" asp-action="Completed" style="margin-top: 5em"><b>   See completed todos</b></a>
    
@Html.Partial("TodoView", Model)
</body>
</html>